<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dbms_study.mapper.UserMapper">
    <insert id="insert">
        insert into
        user_tb
        values ( 0, #{username}, #{email}, now(), now());
    </insert>
    <select id="getUserList">
        select
        *
        from
            user_tb
    </select>
    <select id="getUserByUserId">
        select
        *
        from
            user_tb
        where
        user_id = #{userId};
    </select>
</mapper>